/* PasswordGenerator.css */

/* Set the background image */
body {
  background-image: url('password.jpg'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: Arial, sans-serif; /* Set a fallback font */
  margin: 0;
  padding: 0;
  height: 100vh; /* Make the background cover the entire viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.head{
    color: aliceblue;
}
.whole{
    width:52%;
    color: aquamarine;
    height: 400px;
    width: 600px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pass{
     font-size: 25px;
    color: rgb(142, 47, 47);
    font-style: oblique;
     color: aquamarine;
     
}
.len{
    font-weight: bold ;
    font-size: large;
    background: none;
    border: none;
    color: aliceblue;
}
.pas{
    color: rgb(19, 1, 1);
    font-weight: bold ;
    font-size: large;
     background-color: bisque;
    border: none;
}
.generate{
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    
}
.generate:hover{
    transform: scale(1.1);
    background-color: aqua;
     
}
/* Add additional styles for your content if needed */
.container {
  background-color: rgba(255, 255, 255, 0.8); /* Example: Add a semi-transparent white background to your content */
  padding: 20px;
  border-radius: 10px;
}
